*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    border:15px solid #eca8cf;
    padding:10px;
    font-family: ו;
}
img{
    object-fit: cover;
}
.banner{
    /*top:0;
    left:0;
    right:0;
    bottom:0;
    background-size: cover;
    background-position: center;*/
    width: 100%;
    height: 100vh;
}
.menus{
    width:100%;
    height:60px;
    background: #eca8cf;
    line-height: 60px;
    margin-top: -5px;
}
.menus a{
    text-decoration: none;
    font-size: 23px;
    width:calc(100%/5.2);
    display: inline-block;
    text-align: center;
    color: #fff;
}
.menus a.active{    
    color: #5639e4;
}

.title{
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: rgb(176, 207, 226);
    color:white;
    font-size:23px;
    text-indent:2em;
    margin:1% 0px;
}
.card{
    width:15%;
    height: 35px;
    background-color:crimson;
    text-align:center;
    line-height:40px ;
    color:white;
    margin: 20px auto;
    
}
.footer{
    height:60px;
    background: #f4f1f1;
    margin-top: 10px;
    line-height: 60px;
}

.main img{
    width: 32%;
}